{% extends "blog/header.html" %} 

{% block title %} About Sakkhar Saha - | Programmer | Open Source Enthusiast | IT Geek | {% endblock %}

{% block content %}
<div class="panel panel-default" style="min-height:814px">
  <div class="panel-body">
    <div class="site-content"><b>
      <h1>About</h1>
     <p>  Welcome! I am glad that you are here. I am an Information Technology major at <a href="http://ipu.ac.in" target="_blank"> Usict, Ggsipu.</a> I have been constantly working on web projects for a couple of years now.
 I love solving real-world problems that are challenging. Ready to accept or collaborate on exciting projects anytime.<br><br>Through this blog, I am sharing the stuff that I have been learning every day.
 When I am not working I usually write a blog here or learn something new via reading blogs or watching videos.
<br><br> You are free to use any code you in your project from this blog.
 But please don't copy this content directly on any other blog or site as I am putting an extra effort for that.
<br><br>
       Contact if you have any query, i will try to get back to all of them as soon as possible. I am a full time student,
        but i will try to get back within a week of receiving them, unless it is a busy time for me. I would love to hear
        from you. Thank you :)
      </p>
      <br>     
        Mobile :  +88 019 11 725 944 <br><br>
        Email &nbsp;&nbsp;:<a href="#"> sakkhar@mail.com </a><br><br>
        
        Github :<a href="https://github.com/privacyismyth" target="_blank"> https://github.com/sakkhar </a><br><br>
        Instagram : <a href="https://instagram.com/sakkhar" target="_blank"> https://instagram.com/sakkhar </a><br><br>
LinkedIn : <a href="https://www.linkedin.com/in/sakkhar/" target="_blank"> https://www.linkedin.com/in/sakkhar </a><br>
	<h1>Photos</h1>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
            <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a href="#"><img alt="" src="https://res.cloudinary.com/dqgw7dl8z/image/upload/v1489498644/3_bka6g6.jpg"></a>
              </div> 
                      
              <div class="col-md-4">
                <a  href="#"><img alt="" src="https://res.cloudinary.com/dqgw7dl8z/image/upload/v1489498641/1_ihawah.jpg"></a>
              </div>
                   <div class="col-md-4">
                <a href="#"><img alt="" src="https://res.cloudinary.com/dqgw7dl8z/image/upload/v1489498646/2_teet68.jpg"></a>
              </div>  
            </div>
          </div>
           <div class="item">
            <div class="row">
                     <div class="col-md-4">
                <a  href="#"><img alt=""  src="https://res.cloudinary.com/dqgw7dl8z/image/upload/v1489499884/Screenshot_2016-03-10-22-01-35-01-01-01-min_mfjkgq.jpg"></a>
              </div>    
              <div class="col-md-4">
                <a  href="#"><img alt=""  src="https://res.cloudinary.com/dqgw7dl8z/image/upload/v1489498662/6_eunspx.jpg"></a>
              </div>
              <div class="col-md-4">
                <a  href="#"><img alt="" src="https://res.cloudinary.com/dqgw7dl8z/image/upload/v1489499892/IMG_20150414_010145_1_-min_v7uwoj.jpg"></a>
              </div>        
            </div>
          </div>
        </div>
<style>
</style>
        <a data-slide="prev" href="#media" class="left carousel-control"><span style="color:#3be8b0"> (: </span></a>
        <a data-slide="next" href="#media" class="right carousel-control"><span style="color:#3be8b0"> :) </span></a>
            </div>
          </div>

     </b>
    </div>
  </div>
</div>

{% endblock %}