{% extends "blog/header.html" %}
{% block title %} Contact Deepak Balhara - For IT related stuff {% endblock %}

 {% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="site-content">
      <b>
    <h1>Contact</h1>
      <p>
       Contact if you have any query, i will try to get back to all of them as soon as possible. I am a full time student,
        but i will try to get back within a week of receiving them, unless it is a busy time for me. I would love to hear
        from you. Thank you :)
      </p>
      <br>
        Mobile :  +91 - 9278829666 <br><br>
        Email &nbsp;&nbsp;:<a href="#"> privacyismyth@gmail.com </a><br><br>
        Github :<a href="https://github.com/privacyismyth" target="_blank"> https://github.com/privacyismyth </a><br><br>
        Instagram : <a href="https://instagram.com/balharax" target="_blank"> https://instagram.com/balharax </a><br>
        </b>
     </div>
    </div>
  </div>

{% endblock %}