 {% extends "blog/postheader.html" %} {% block title %} {{ post.title }} {% endblock %} {% block content %}


<div class="container-fluid" style="background:#fff">
	<header class="entry-header">
		<h3 class="entry-title"> <a href="/{{query_results.slug}}">{{ query_results.title }}</a> </h3>
		<div class="entry-meta">
			<a href="#">Tag : {{ query_results.tag }} </a>
			<span class="sep">/</span>
			<span class="entry-date">{{ query_results.date|date:"M d , Y" }}</span>
		</div>
		<div class="entry-summary">
			{{ query_results.body|safe|linebreaks}}
		</div>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://deepakbalhara.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//deepakbalhara.disqus.com/count.js" async></script>
</div>

<br>
{% endblock %}